

/* Styl dla ekranów o szerokości 600px lub większej */
@media screen and (min-width: 600px) {
    body {
      font-size: 18px;
    }
  }
  
  /* Styl dla ekranów o szerokości 900px lub większej */
  @media screen and (min-width: 900px) {
    body {
      font-size: 20px;
    }
  }




body{
    padding: 0;
    margin: 0;
    
}

/*----- pierwsza sekcja -------*/

#about{
    
    display: flex;
    height: 100vh;
}

.section{
    flex: 1;
    background-size: cover;
    background-position: center;

}

.section1{
background-image: url("brewingchemex.jpg");
}
.section2{
    background-image: url("brewingexpress.jpg");
}

header {
    position: absolute;
    width: 90%;
    margin: 0 auto;
    padding:  0 13px 0  0;
    top: 40px;
    left: 30px;
    right: 30px;
    border-radius:50px;
    z-index: 2;
    background: whitesmoke;
    box-shadow: 0 0 30px rgb(0 0 0 / 8%);
    font-size: 35px;
    text-align: center;
    letter-spacing: 3px;
    word-spacing: 2px;

}

nav{
    display: flex;
    align-items:start;
    justify-content: space-between;
    padding-right: 2%; ;
    padding-left: 2%;

}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 0px  1000px;
    
}

nav ul li a{
    color: rgb(50, 41, 41);
    text-decoration: none;
    font-size:  20px ;
    font-weight: bold;
    float: left;
    
}






/*-----alternatywy ------*/

h3{
    font-weight: 500;
    color: rgb(50, 40, 41);
    text-align: start;
}
p{
    text-align:center ;

}

.section1{
    display: grid;
    place-items: center;
    place-content: center;
    
}

.s1text{
    
     padding: 20px 10px 20px 10px;
background-color: whitesmoke;
     top: 50%;
     left: 20%;
   width: 40%;
     border-radius: 20px;
    flex: 1;
opacity: 0.8;
margin-right: 50%;
margin-left: 50%;


}

/*----- podstawa------*/

.s2text{
padding: 20px 10px 20px 10px;
background-color: whitesmoke;
top: 50%;
right: 20%;
width: 40%;
border-radius: 20px;
flex: 1;
opacity: 0.8;
margin-left: 50%;
margin-right: 50%;


}

.section2{
    display: grid;
    place-items: center;
    place-content: center;
    
}
